.loginView {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loginForm {
  width: 400px;
  height: 300px;
}

.loginFormHeader {
  font-size: 84px;
  color: var(--el-color-primary);
  text-align: center;
}

.loginFormFooter {
  width: 100%;
}

.loginBtn {
  width: 100%;
}
